@import '../../constants'

.DescriptionSection
  position relative
  padding-bottom 150px
  color colorPinkLight

  .trees
    position absolute
    width 105%
    left -10px
    bottom -10px

  .title
    margin-bottom 45px

  .text
    padding websitePadding
    line-height 2

    .description
      text-align center
      max-width 700px
      margin 0 auto
