@import '../../constants'

.Page
  overflow hidden

  .page-section
    width 100%
    font-family 'Proxima Nova', sans-serif
    line-height 1.5

  .section.title
    font-size fontSizeXXLarge
    font-family 'Unica One', sans-serif
    font-weight 700
    text-align center
    text-transform uppercase
    width 100%
