// # Where all CSS constants go

// ## Colors

colorPinkDark = rgb(195, 10, 100)
colorPink = rgb(235, 30, 122)
colorPinkLight = rgb(239, 83, 82)
colorBlueDarkest = rgb(39, 58, 70)
colorBlueDarker = rgb(19, 85, 118)
colorBlueDark = rgb(0, 129, 189)
colorBlue = rgb(0, 178, 226)
colorBlueLight = rgb(44, 175, 230)
colorBlueLightest = rgb(148, 223, 240)
colorPurpleDark = rgb(39, 24, 108)
colorPurple = rgb(89, 64, 148)
colorPurpleLight = rgb(110, 94, 164)

colorWhiteDark = rgb(207, 207, 206)
colorGrayLight = rgb(127, 127, 126)
colorGray = rgb(59, 64, 61)
colorGrayDark = rgb(37, 37, 39)

// ## Fonts
@font-face
  font-family 'Proxima Nova'
  font-style normal
  font-weight 400
  src local('Proxima Nova Regular'), local('ProximaNova-Regular'), url("../../fonts/font-copy.ttf") format('truetype')
@font-face
  font-family 'Unica One'
  font-style normal
  font-weight 400
  src local('Unica One'), local('UnicaOne-Regular'), url("../../fonts/font-title.ttf") format('truetype')

fontSizeSmall = 12px
fontSizeNormal = 16px
fontSizeLarge = 20px
fontSizeXLarge = 30px

// ## Sizing and Spacing
websitePadding = 30px

// ## Transitions
transitionSpeedSlow = 400ms
transitionSpeed = 200ms
transitionSpeedFast = 100ms

// ## Media Queries

// 1 column
mediaPhone = "all and (max-width: 600px)"
notMediaPhone = "all and (min-width: 600px)"

// 2 columns
mediaTablet = "all and (max-width: 1000px)"
notMediaTablet = "all and (min-width: 1000px)"

// 3 columns (otherwise)
